@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./csce242/styles.css -o ./csce242/output.css --watch */

:root {
    --violet: #ad21ff;
    --pink: #ff9cff;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg, var(--pink), var(--violet));
    background-repeat: no-repeat;
    background-size: cover;
}


.wrapper {
    max-width: 1400px;
    padding-left: 1rem;
    padding-right: 1rem;
}


/* styles */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: 600;
}

.hero p {
    text-align: center;
    max-width: 400px;
}

a {
    text-decoration: none;
    color: #211825;
}

li {
    list-style: none;
}

.assignments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding-bottom: 6rem;
}

.assignments h2 {
    font-size: 2rem;
}

.assignments-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.assignment-card {
    background-color: #ff9cff;

}

.assignment-card a {
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.assignment-card:hover {
    transform: scale(1.02);
    transition: all .2s ease-in-out;
}

.assignment-card a p {
    max-width: 400px;
}

.assignment-card a p:first-of-type {
    font-weight: 600;
}

img {
    width: 400px;
}

@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    img {
        max-width: 200px;
    }

    .assignment-card {
        padding: 10px;
    }

    .assignment-card a p {
        font-size: 0.8rem;
    }
}